@import "tailwindcss";
@import "material-symbols";

button {
  cursor: pointer;
}

@theme {
  --color-primary: #258cf4;
  --color-primary-dark: #1a6bbd;
  --color-background-light: #f5f7f8;
  --color-background-dark: #101922;
  --color-surface-dark: #182634;
  --color-surface-dark-hover: #223649;
  --color-text-secondary: #90adcb;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@custom-variant dark (&:where(.dark, .dark *));
